<!DOCTYPE html>
<html>
<head>
  <title>Page Not Found</title>
  <link href="/css/404.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container">
    <h1>Oops! Page Not Found</h1>
    <p>Sorry, the page you're looking for doesn't exist.</p>
    <p>If you typed the URL, please check for any mistakes. Otherwise, you can return to the homepage.</p>
    <a href="/" class="button">Go Back to Home</a>
  </div>
</body>
</html>