<!DOCTYPE html>
<html>
<head>
  <title>Server Error</title>
  <link href="/css/error.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container">
    <h1>Oops! Something went wrong.</h1>
    <p>Sorry, we encountered an unexpected issue on our end. Please try again later.</p>
    <p>If the problem persists, please contact support.</p>
    <p>+84 854 001 109</p>
  </div>
</body>
</html>